header{
  width: 100%;
  background: $white_bg;
}
nav{
  width: 11.25rem;
  float: left;
}
section{
  width: 43.125rem;
  float: right;
}
footer{
  width: 100%;
  clear: both;
}
.wrapper{
  width: 59.50rem;
}