.breadcumbs{
  float: right;
  margin-right: 25rem;
  margin-top: 1rem;
}
.breadcumbs ul li{
  @include lowercase;
  display: inline-block;
  list-style-type: none;
  padding-right: 0.688em;
  font-size: 0.788em;
  color: $typo_gray;
  background: url("../images/right-tick.png");
  background-repeat: no-repeat;
  background-position: right 5px;
}
.breadcumbs ul li:last-of-type{
  color: $typo_black;
  background: none;
}
.breadcumbs ul{
  padding-left: 0;
}
header img{
  margin-left: 1rem;
}
header{
  background: #f5f5f5;
}