.button-main{
  float: right;
  margin-top: -2.4rem;
  color: $white_bg;
  background-color: $main_black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border:2px solid $typo_gray;
}