@mixin fontMyriad() {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@mixin  fontArial(){
  font-family: Arial, Helvetica, sans-serif;
}