footer{
  @include padding-top_and_bottom(0.65rem,0.65rem);
  width: 100%;
  background-color: $main_black;
  position: fixed;
  bottom: 0;
  left: 0;

  a{
    @include rest_a;
    color: $white_bg;
  }
  .copyright{
    position: fixed;
    right: 0.5rem;
    bottom: 3rem;
    font-size: 0.7rem;
    color: $typo_gray;
  }
}
.searching-box{
  float: right;
}
.footer {
  &__language-selection {
    margin-left: 2rem;
  }
  &__login{
    background: url("../images/key.png");
  }
  &__cart{
    background: url("../images/cart2.png");
  }
  &__favorite{
    background: url("../images/star2.png");
  }
  &__newsletter{
    background: url("../images/mail2.png");
  }
}
.footer_icon{
  @include uppercase;
  padding-left: 2.5rem;
  border-left: 1px solid $typo_gray;
  margin-left: 2rem;
  font-size: 0.875rem;
  background-repeat: no-repeat;
  background-position-x: 1rem;
}
.footer_icon:hover{
  opacity: 0.5;
}
.searching{
  margin-right: 0.6rem;
}
.search-it{
  position: absolute;
  margin-left: -1.3rem;
  background: url("../images/search-ico.png");
  margin-top: 0.05rem;
}
.what-to-search{
  border-radius: 3px;
}
.sitemap-icon{
  background: url("../images/ico-map.png");
  height: 1rem;
  width: 1rem;
  display: inline-block;
  float: left;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.2rem;
}