$background: #fbfbfb;
$main_black: #000000;
$secondary_gray: #f7f7f7;
$white_bg:#fff;
$typo_black:#000000;
$typo_gray:#787878;
$typo_new_price:#c00237;
$typo_select:#ff0000;
$typo_links:#c00237;
$typo_menu_font:#6e6e6e;
$menu_border:#b6b6b6;
$catalog-border:#949494;
