nav{
  @include padding-left_and_right(0,2rem)
}
.menu-opener{
  @include rest_a;
  @include uppercase;
  @include padding-top_and_bottom(0.63rem,0.37rem);
  @include margin-top_and_bottom(1.625rem,1.250rem);
  @include fontMyriad;
  width: 100%;
  display: block;
  border-top:1px solid $menu_border;
  border-bottom:1px solid $menu_border;
  padding-left: 0.375rem;
  font-size: 0.835rem;
  background: url("../images/menu-drop-icon.png");
  background-repeat: no-repeat;
  background-position: 94% 14px;
  color: #333333;
}
.catalog-opener{
  @include rest_a;
  @include fontMyriad;
  @include padding-custom(0.7rem,0,1rem,1.063rem);
  color: $white_bg;
  display: block;
  font-size: 0.835rem;
}
.catalog{
  @include uppercase;
  background-color: $main_black;
  color: $typo_menu_font;
  border-radius: 18px;
  border:3px solid $catalog-border;

  &__items{

    margin: 0;
    padding: 0;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
    list-style-type: none;
    font-size: 0.81rem;

    a{
      @include rest_a;
    }
    a:hover{
      color: #fff;
    }
  }

  &__item{
    padding-left: 0.85rem;
    line-height: 1.7;
    margin-left: 0.1rem;
    background: url("../images/menu-li.png");
    background-repeat: no-repeat;
    background-position: 0% 7px;
  }

  &__item:last-of-type{
    border-bottom: 1px solid #787878;
    padding-bottom: 0.4rem;
    width: 80%;
  }
}

.donwload-catalog{
  @include rest_a;
  @include uppercase;
  @include margin-top_and_bottom(0.5rem,1rem);
  color: $white_bg;
  padding-left: 1rem;
  display: block;
  margin-left: 1rem;
  font-size: 0.7rem;
  background: url("../images/cata-ico.png");
  background-repeat: no-repeat;
  background-position: 1% 0px;
}