@mixin padding-linear($padding){
  padding: $padding;
}
@mixin padding-top_and_bottom($padding1,$padding2){
  padding:$padding1 0 $padding2 0;
}
@mixin padding-left_and_right($padding1,$padding2){
  padding:0 $padding1 0 $padding2 ;
}
@mixin  padding-custom($pad1,$pad2,$pad3,$pad4){
  padding: $pad1 $pad2 $pad3 $pad4;
}

@mixin margin-linear($margin){
  margin: $margin;
}
@mixin margin-top_and_bottom($margin1,$margin2){
  margin:$margin1 0 $margin2 0;
}
@mixin padding-left_and_right($margin1,$margin2){
  margin:0 $margin1 0 $margin2 ;
}

@mixin border-radius($radius1,$radius2,$radius3,$radius4){
  border-radius: $radius1,$radius2,$radius3,$radius4;
}

@mixin uppercase(){
  text-transform: uppercase;
}
@mixin lowercase(){
  text-transform: lowercase;
}

@mixin rest_a(){
  text-decoration: none;
  color: inherit;
}