@media screen and (max-width: 1000px){
  .wrapper {
    width: 100%;
  }
  .breadcumbs {
    float: right;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
  }
  nav{
    margin: 0;
    width: 100%;
  }
  section {
    width: 100%;
  }
  .single-product-container__heading {
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    padding: 1rem 0;
  }
  .single-product-container-details {
    flex-direction: column;
    width: 96%;
    padding: 1.8%;
  }
  .single-product-main-image{
    width: 100%;
  }
  .single-product-container-details__accessories {
    background-color: #f7f7f7;
    float: right;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .accessories-nav {
    width: 80%;
  }
  .single-product-select {
    width: 23%;
  }
  .nav-related-left, .nav-related-right {
    display: none;
  }
  .related-products {
    width: 96%;
    padding: 2%;
  }
  .single-product-oder-image {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
  .single-product-oder-image:last-of-type{
    margin: auto;
  }
  .footer_icon {
   margin: 1rem 0;
    display: block;
    margin-left: 2rem;
  }
  .single-product-container-details .single-product-secondary-image {
    width: 32%;
  }
}