header {
  width: 100%;
  background: #fff; }

nav {
  width: 11.25rem;
  float: left; }

section {
  width: 43.125rem;
  float: right; }

footer {
  width: 100%;
  clear: both; }

.wrapper {
  width: 59.50rem; }

footer {
  padding: 0.65rem 0 0.65rem 0;
  width: 100%;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  left: 0; }
  footer a {
    text-decoration: none;
    color: inherit;
    color: #fff; }
  footer .copyright {
    position: fixed;
    right: 0.5rem;
    bottom: 3rem;
    font-size: 0.7rem;
    color: #787878; }

.searching-box {
  float: right; }

.footer__language-selection {
  margin-left: 2rem; }
.footer__login {
  background: url("../images/key.png"); }
.footer__cart {
  background: url("../images/cart2.png"); }
.footer__favorite {
  background: url("../images/star2.png"); }
.footer__newsletter {
  background: url("../images/mail2.png"); }

.footer_icon {
  text-transform: uppercase;
  padding-left: 2.5rem;
  border-left: 1px solid #787878;
  margin-left: 2rem;
  font-size: 0.875rem;
  background-repeat: no-repeat;
  background-position-x: 1rem; }

.footer_icon:hover {
  opacity: 0.5; }

.searching {
  margin-right: 0.6rem; }

.search-it {
  position: absolute;
  margin-left: -1.3rem;
  background: url("../images/search-ico.png");
  margin-top: 0.05rem; }

.what-to-search {
  border-radius: 3px; }

.sitemap-icon {
  background: url("../images/ico-map.png");
  height: 1rem;
  width: 1rem;
  display: inline-block;
  float: left;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.2rem; }

.breadcumbs {
  float: right;
  margin-right: 25rem;
  margin-top: 1rem; }

.breadcumbs ul li {
  text-transform: lowercase;
  display: inline-block;
  list-style-type: none;
  padding-right: 0.688em;
  font-size: 0.788em;
  color: #787878;
  background: url("../images/right-tick.png");
  background-repeat: no-repeat;
  background-position: right 5px; }

.breadcumbs ul li:last-of-type {
  color: #000000;
  background: none; }

.breadcumbs ul {
  padding-left: 0; }

header img {
  margin-left: 1rem; }

header {
  background: #f5f5f5; }

nav {
  margin: 0 0 0 2rem; }

.menu-opener {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  padding: 0.63rem 0 0.37rem 0;
  margin: 1.625rem 0 1.25rem 0;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  display: block;
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
  padding-left: 0.375rem;
  font-size: 0.835rem;
  background: url("../images/menu-drop-icon.png");
  background-repeat: no-repeat;
  background-position: 94% 14px;
  color: #333333; }

.catalog-opener {
  text-decoration: none;
  color: inherit;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.7rem 0 1rem 1.063rem;
  color: #fff;
  display: block;
  font-size: 0.835rem; }

.catalog {
  text-transform: uppercase;
  background-color: #000000;
  color: #6e6e6e;
  border-radius: 18px;
  border: 3px solid #949494; }
  .catalog__items {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
    list-style-type: none;
    font-size: 0.81rem; }
    .catalog__items a {
      text-decoration: none;
      color: inherit; }
    .catalog__items a:hover {
      color: #fff; }
  .catalog__item {
    padding-left: 0.85rem;
    line-height: 1.7;
    margin-left: 0.1rem;
    background: url("../images/menu-li.png");
    background-repeat: no-repeat;
    background-position: 0% 7px; }
  .catalog__item:last-of-type {
    border-bottom: 1px solid #787878;
    padding-bottom: 0.4rem;
    width: 80%; }

.donwload-catalog {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  margin: 0.5rem 0 1rem 0;
  color: #fff;
  padding-left: 1rem;
  display: block;
  margin-left: 1rem;
  font-size: 0.7rem;
  background: url("../images/cata-ico.png");
  background-repeat: no-repeat;
  background-position: 1% 0px; }

.single-product-container {
  margin: 1.5rem 0 2rem 0; }
  .single-product-container__heading {
    text-transform: uppercase;
    padding: 0.8rem 1rem 0.8rem 1rem;
    width: 100%;
    background-color: #000000;
    color: #fff;
    border-radius: 18px 18px 0 0;
    font-weight: bold; }

.single-product-container-details {
  padding: 1rem;
  width: 99.5%;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 0px 0px 19px 19px;
  background-color: #fff; }
  .single-product-container-details .single-product-secondary-image {
    width: 32%;
    margin-bottom: 0.5rem; }
  .single-product-container-details .img-accessories {
    text-align: right;
    display: block;
    background-color: #f7f7f7;
    padding: 1rem; }
  .single-product-container-details__accessories h3 {
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1rem;
    background-color: #f7f7f7;
    margin: 0;
    padding-bottom: 0rem; }
  .single-product-container-details__main-description {
    padding: 2rem;
    padding-top: 0; }

.single-product-main-desc-text {
  width: 100%;
  margin-top: 0;
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 2rem; }

.single-product-info-tab {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 1.6rem; }
  .single-product-info-tab .left {
    padding: 0.3rem 0 0.3rem 0;
    padding-right: 1rem;
    display: inline-block; }
  .single-product-info-tab .right {
    color: #787878; }
  .single-product-info-tab .row {
    border-top: 1px solid gray; }
  .single-product-info-tab .row:last-of-type {
    border-bottom: 1px solid gray; }

.old-price {
  float: right;
  font-size: 1.3rem;
  text-decoration: line-through;
  color: #787878; }

.actual-price {
  color: #c00237;
  font-size: 1.3rem; }

.sale-argument-price {
  text-transform: lowercase;
  font-size: 0.8rem;
  color: #787878;
  margin-top: -0.3rem;
  display: block;
  margin-left: 0.3rem;
  margin-bottom: 1rem; }

.single-product-select {
  width: 100%;
  margin-bottom: 0.4rem; }

.tab-size-shower {
  text-transform: lowercase;
  text-decoration: none;
  color: inherit;
  float: right;
  padding-left: 1.3rem;
  font-size: 0.8rem;
  color: #787878;
  background: url("../images/table.png");
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 1rem; }

#quantity-product {
  width: 25%;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 0.4rem 0; }

.helper {
  text-transform: lowercase;
  text-decoration: none;
  color: inherit;
  color: #c00237;
  padding-left: 1.3rem;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.3rem;
  background-position: left !important;
  background-repeat: no-repeat !important; }

.helper:first-of-type {
  margin-top: 2rem;
  border-top: 1px solid gray;
  padding-top: 0.5rem;
  background: url("../images/cart.png");
  background-position-y: 9px !important; }

.helper:nth-of-type(2) {
  background: url("../images/mail.png"); }

.helper:nth-of-type(3) {
  background: url("../images/pdf.png"); }

.helper:nth-of-type(4) {
  background: url("../images/star.png"); }

.accessories-nav {
  width: 3rem;
  margin-left: 3rem;
  background-color: #f7f7f7;
  margin-top: 0.6rem; }
  .accessories-nav .upper, .accessories-nav .downer {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-repeat: no-repeat; }
  .accessories-nav .upper {
    background: url("../images/button-next-1.png");
    background-repeat: no-repeat;
    float: left; }
  .accessories-nav .downer {
    background: url("../images/button-prev-1.png");
    background-repeat: no-repeat;
    float: right; }

.single-product-container-details__accessories {
  background-color: #f7f7f7;
  height: 32rem;
  float: right; }

.related-products {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 19px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem; }
  .related-products h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-left: 1.7rem; }

.nav-related-left, .nav-related-right {
  width: 1.3rem;
  height: 1.3rem;
  display: block;
  margin-top: 3rem; }

.nav-related-right {
  background: url("../images/button-rightt-1.png");
  background-repeat: no-repeat;
  float: right; }

.nav-related-left {
  background: url("../images/button-left-1.png");
  background-repeat: no-repeat;
  float: left; }

.single-product-oder-image {
  margin-left: 0.32rem;
  margin-right: 0.32rem; }

.single-product-oder-image:last-of-type {
  margin-right: 0; }

.button-main {
  float: right;
  margin-top: -2.4rem;
  color: #fff;
  background-color: #000000;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: 2px solid #787878; }

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 100%; }

  .breadcumbs {
    float: right;
    margin-right: 0;
    margin-top: 0;
    width: 100%; }

  nav {
    margin: 0;
    width: 100%; }

  section {
    width: 100%; }

  .single-product-container__heading {
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    padding: 1rem 0; }

  .single-product-container-details {
    flex-direction: column;
    width: 96%;
    padding: 1.8%; }

  .single-product-main-image {
    width: 100%; }

  .single-product-container-details__accessories {
    background-color: #f7f7f7;
    float: right;
    display: flex;
    flex-direction: column;
    height: auto; }

  .accessories-nav {
    width: 80%; }

  .single-product-select {
    width: 23%; }

  .nav-related-left, .nav-related-right {
    display: none; }

  .related-products {
    width: 96%;
    padding: 2%; }

  .single-product-oder-image {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 1rem; }

  .single-product-oder-image:last-of-type {
    margin: auto; }

  .footer_icon {
    margin: 1rem 0;
    display: block;
    margin-left: 2rem; }

  .single-product-container-details .single-product-secondary-image {
    width: 32%; } }
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5; }

/*# sourceMappingURL=base.css.map */
