.single-product-container {
  @include margin-top_and_bottom(1.5rem, 2rem);

  &__heading {
    @include uppercase;
    @include padding-custom(0.8rem, 1rem, 0.8rem, 1rem);
    width: 100%;
    background-color: $main_black;
    color: $white_bg;
    border-radius: 18px 18px 0 0;
    font-weight: bold;
  }
}

.single-product-container-details {
  @include padding-linear(1rem);
  width: 99.5%;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 0px 0px 19px 19px;
  background-color: $white_bg;

  .single-product-secondary-image {
    width: 32%;
    margin-bottom: 0.5rem;
  }

  .img-accessories {
    text-align: right;
    display: block;
    background-color: $secondary_gray;
    padding: 1rem;
  }

  &__accessories h3 {
    @include uppercase;
    text-align: center;
    color: $main_black;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1rem;
    background-color: $secondary_gray;
    margin: 0;
    padding-bottom: 0rem;
  }

  &__main-description {
    @include padding-linear(2rem);
    padding-top: 0;
  }
}

.single-product-main-desc-text {
  width: 100%;
  margin-top: 0;
  font-size: 0.9rem;
  color: $typo_black;
  margin-bottom: 2rem;
}

.single-product-info-tab {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 1.6rem;
  .left {
    @include padding-top_and_bottom(0.3rem, 0.3rem);
    padding-right: 1rem;
    display: inline-block;
  }
  .right {
    color: $typo_gray;
  }

  .row {
    border-top: 1px solid gray;
  }
  .row:last-of-type {
    border-bottom: 1px solid gray;
  }
}

.old-price {
  float: right;
  font-size: 1.3rem;
  text-decoration: line-through;
  color: $typo_gray;
}

.actual-price {
  color: $typo_new_price;
  font-size: 1.3rem;
}

.sale-argument-price {
  @include lowercase;
  font-size: 0.8rem;
  color: $typo_gray;
  margin-top: -0.3rem;
  display: block;
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}

.single-product-select {
  width: 100%;
  margin-bottom: 0.4rem;
}
.tab-size-shower{
  @include  lowercase;
  @include rest_a;
  float: right;
  padding-left: 1.3rem;
  font-size: 0.8rem;
  color: $typo_gray;
  background: url("../images/table.png");
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}
#quantity-product{
  width: 25%;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 0.4rem 0;
}
.helper{
  @include lowercase;
  @include rest_a;
  color: $typo_new_price;
  padding-left: 1.3rem;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.3rem;
  background-position: left!important;

  background-repeat: no-repeat!important;
}
.helper:first-of-type{
  margin-top: 2rem;
  border-top: 1px solid gray;
  padding-top: 0.5rem;
  background: url("../images/cart.png");
  background-position-y: 9px!important;
}
.helper:nth-of-type(2){
  background: url("../images/mail.png");

}
.helper:nth-of-type(3){
  background: url("../images/pdf.png");
}
.helper:nth-of-type(4){
  background: url("../images/star.png");
}
.accessories-nav{

  width: 3rem;
  margin-left: 3rem;
  background-color: #f7f7f7;
  margin-top: 0.6rem;

  .upper, .downer{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-repeat: no-repeat;
  }

  .upper{
    background: url("../images/button-next-1.png");
    background-repeat: no-repeat;
    float: left;
  }
  .downer{
    background: url("../images/button-prev-1.png");
    background-repeat: no-repeat;
    float: right;
  }
}
.single-product-container-details__accessories{
  background-color: #f7f7f7;
  height: 32rem;
  float: right;
}
.related-products{
  background-color: $white_bg;
  border: 1px solid lightgray;
  border-radius:19px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem;

  h3{
    @include uppercase;
    font-size: 0.8rem;
    margin-left: 1.7rem;
  }
}
.nav-related-left, .nav-related-right{
  width: 1.3rem;
  height: 1.3rem;
  display: block;
  margin-top: 3rem;
}
.nav-related-right{
  background: url("../images/button-rightt-1.png");
  background-repeat: no-repeat;
  float: right;

}
.nav-related-left{
  background: url("../images/button-left-1.png");
  background-repeat: no-repeat;
  float: left;
}
.single-product-oder-image{
  margin-left: 0.32rem;
  margin-right: 0.32rem;
}
.single-product-oder-image:last-of-type{
  margin-right: 0;
}